.productShop{
  background-color: #CFCECE;
  color: black;
  height: 200px;
  width: 150px;
  border: 1px solid #D1381A;
  margin: 1%;
  float: left;
  &__img{
    margin-left: 2px;
    margin-bottom: 2px;
    width: 90px;
  }
}

