#Spring Boot

back/*#
back/*.iml
back/*.ipr
back/*.iws
back/*.jar
back/*.sw?
back/*~
back/.#*
back/.*.md.html
back/.DS_Store
back/.classpath
back/.factorypath
back/.gradle
back/.idea
back/.metadata
back/.project
back/.recommenders
back/.settings
back/.springBeans
back/build
back/code
back/MANIFEST.MF
back/_site/
back/activemq-data
back/bin
back/build
back/build.log
back/application.log
back/dependency-reduced-pom.xml
back/dump.rdb
back/interpolated*.xml
back/lib/
back/manifest.yml
back/overridedb.*
back/settings.xml
back/target
back/transaction-logs
back/.flattened-pom.xml
back/secrets.yml
back/.gradletasknamecache
back/.sts4-cache
back/pom.xml.tag
back/pom.xml.releaseBackup
back/pom.xml.versionsBackup
back/pom.xml.next
back/release.properties
back/dependency-reduced-pom.xml
back/buildNumber.properties
back/.mvn/timing.properties
back/.mvn/wrapper/maven-wrapper.jar

#React

# dependencies
front/node_modules
front/.idea
front/.pnp
front/.pnp.js

# testing
front/coverage

# production
front/build

# misc
front/.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

*.mwb