
.laptopsCircularProgress{

  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.laptopList{
  height: 900px;
  margin-left: 25%;
}

.laptopPaging{
  display: flex;
  justify-content: center;
}