
.laptopPic {
  float: left;
  margin: 1% 1%;
  width: 40%;
  &__img{
    height: 180px;
  }
}

.lchr{
  width: 56%;
  float: left;
  margin: 1% 1%;
}

.navl{
  background-color: #CFCECE;
  color: #D1381A;
  height: 200px;
  border: 1px solid #D1381A;
  margin: 5px;
  width: 50%;
  float: left;
}
.navl:hover {
  border: 1px solid black;
  color: black;
}

