.registration {
  margin-left: 5%;
  width: 48%;
  height: 400px;
  float: left;
}

.address {
  width: 40%;
  height: 400px;
  float: left;
}

.signIn {
  float: left;
  width: 10%;
  height: 40px;
  margin-left: 5%;
  margin-top: 15px;
}
