
.cartCircularProgress{
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.cartPage{

  &__title{
    margin-left: 50px;
  }

  &__cart{
    width: 60%;
    float: left;
    &__items{

    }

  }

  &__address{
    width: 34%;
    height: 430px;
    float: left;
    margin-left: 4%;

    &__field{
      margin-left: 20%
    }

    &__buttonCheckOut{
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }

}
