.phoneCharacteristics {
  margin: 5px;
  background-color: bisque;
  color: black;
  width: 49%;
  height: 400px;
  border: 1px solid blueviolet;
  float: left;

  &__characteristic{
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;

  }
}

.pic {
  margin: 5px;
  background-color: bisque;
  color: black;
  width: 49%;
  height: 400px;
  border: 1px solid blueviolet;
  float: left;
  &__img{
    margin-left: 10px;
    margin-bottom: 10px;
    height: 330px;
    position: center;
  }

}


h3{
  margin-left: 20px;
  margin-top: 20px;
  width: 400px;
}