.signInCard {
  //display: flex;
//  justify-content: center;
  margin: 10px auto auto;
  width: 35%;
  height: 300px;

  &__emailField{

    margin: 0 10% 3% 10%;
    width: 100%;
  }

  &__passwordField{

    margin: 0 10% 3% 10%;
    width: 100%;
  }

  &__submitButton{
    margin: 0 10% 3% 10%;
    width: 100%;
  }

  &__regButton{
    margin: 0 10% 3% 10%;
    width: 100%;
  }
}