.laptopCharacteristics {
  margin: 1%;
  background-color: #CFCECE;
  color: black;
  width: 48%;
  height: 550px;
  border: 1px solid #D1381A;
  float: left;

  &__characteristic{
    margin-left: 20px;
    margin-top: 20px;
    width: 90%;
  }
}

.lpic {
  margin: 1%;
  background-color: #CFCECE;
  color: black;
  width: 48%;
  height: 550px;
  border: 1px solid #D1381A;
  float: left;
  &__img{
    margin-left: 20px;
    margin-top: 20px;
    height: 330px;
    position: center;
  }
}

h3{
  margin-left: 20px;
  margin-top: 20px;
  width: 400px;
}