.cartItem{
  height: 100px;
  //width: 50%;
  margin: 0% 0 1% 2%;
  width: 100%;
}

.cartItemPic {
  float: left;
  margin: 15px;
  width: 100px;
  &__img {
    display: flex;
    margin: auto;
    height: 70px;
  }
}

.cartItemCount{
  float: right;
  margin: 20px 50px 10px 10px;
  &__label{
    margin-right: 5px;
  }
}

.deleteButton{
  float: right;
  margin: 15px;
}

.cartItemInfo{
  float: left;
  margin: 10px;
  max-width: 280px;
  &__shop {
    //margin-left: 10px;
  }
}
