
.phonesCircularProgress{

  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.phoneList{
  height: 900px;
  margin-left: 25%;
}

.phonePaging{
  display: flex;
  justify-content: center;
}